@model IEnumerable<LojaVirtual.Mvc.ViewModels.Categorias.CategoriaViewModel>


<h1>@ViewData["Title"] </h1>

@if (TempData["Sucesso"] != null || ViewData["Sucesso"] != null)
{
    var mensagem = TempData["Sucesso"] != null ? TempData["Sucesso"] : ViewData["Sucesso"];

    <div styly="padding-top: 15px"></div>

    <div id="msg-box" class="alert alert-success">
        <h4 id=" msgRetorno">@Html.Raw(mensagem)</h4>
    </div>
}

<p>
    <a class="btn btn-primary" asp-action="Create"><spam class="fa fa-plus"></spam>Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    <a asp-action="Details" class="btn btn-warning" asp-route-id="@item.Id"><spam class="fa fa-search"></spam>Detalhes</a>
                    <a asp-action="Edit" class="btn btn-info" asp-route-id="@item.Id"><spam class="fa fa-pencil-alt"></spam>Editar</a>
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id"><spam class="fa fa-trash"></spam>Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

